{# Author: Felipe Rodríguez Valenzuela #}
{% extends 'FragProjectFragBundle:Search:base.html.twig' %}

{%block page_title%}Search{%endblock%}

{% block main %}
<p>The search engine was designed to allow users to search over the database at a 
sequence level, at a structure level using a fragment in pdb file, or using the 
data extracted from the pdb for each single fragment, such as the position, chain, etc.</p>
{% endblock %}
