/app/logs/
/app/cache/
*php~
/nbproject/private/
/web/bundles/
.*
!/.gitignore
src/MeloLab/FragProt/WebBundle/DBData/*
src/MeloLab/FragProt/WebBundle/Resources/public/jmol/*
src/MeloLab/FragProt/WebBundle/Resources/public/jsmol/*