{# Author: Felipe Rodríguez Valenzuela #}
{% extends 'MeloLabFragProtWebBundle::base.html.twig' %}
{% block menu_search%}
current_page_item
{% endblock %}
{%block sidemenu%}
<h3>Search by</h3>
<ul>
    <li><a href="{{path('fragprot_search_information')}}">Fragment Data</a></li>
    <li><a href="{{path('fragprot_search_upload')}}">Upload Fragment (.pdb format)</a></li>
</ul>
{%endblock%}
{% block javascripts %}
{{ parent() }}
{% endblock %}
{% block stylesheets %}
{{ parent() }}
{% endblock %}