{# Author: Felipe Rodríguez Valenzuela #}
{% extends 'MeloLabFragProtWebBundle::base.html.twig' %}
{% block page_title %}
Contact
{% endblock %}
{% block menu_contact%}
current_page_item
{% endblock %}

{% block main %}
<p>If you find any bugs, or have any questions about the page please send a mail to: 
<address>
   <a href="mailto:ferodriguez.mbl@gmail.com">Felipe Rodriguez</a>
</address></p>
<p>Also, you can visit our laboratory homepage <a href="http://melolab.org">Melolab.org</a></p>

{% endblock %}